<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<script src="bower_components/angular/angular.js"></script>
	<style>
		.completed {
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		.inProgress{
			color : green;
		}
	</style>
	<script type="text/javascript">
	function getTaskStorage(){
		function getAllTasksFromStorage(){
			var result = [];
			for(var i=0;i<window.localStorage.length;i++){
				var key = window.localStorage.key(i);
				var task = window.JSON.parse(window.localStorage.getItem(key));
				result.push(task);
			}
			return result;
		}
		function addTaskToStorage(taskName){
			var id = new Date().getTime().toString();
			var newTask = {
				id : id,
				name : taskName,
				isCompleted : false
			};
			window.localStorage.setItem(id, window.JSON.stringify(newTask));
			return newTask;
		}
		function removeTaskFromStorage(task){
			window.localStorage.removeItem(task.id);
		}
		function updateTaskInStorage(task){
			window.localStorage.setItem(task.id, window.JSON.stringify(task));
		}
		return {
			add : addTaskToStorage,
			remove : removeTaskFromStorage,
			update : updateTaskInStorage,
			getAll : getAllTasksFromStorage
		}
	}
	
	function taskController($scope){
		var taskStorage = getTaskStorage();
		var tasks = $scope.tasks = taskStorage.getAll();
		

		$scope.addTask = function(taskName){
			var newTask = taskStorage.add(taskName);
			tasks.push(newTask);
			$scope.message = "A new task is added..!!";
		};

		$scope.toggleCompletion = function(task){
			task.isCompleted = !task.isCompleted;
			taskStorage.update(task);
		};

		$scope.removeCompleted = function(){
				for(var i=tasks.length-1;i>=0;i--)
					if (tasks[i].isCompleted){
						taskStorage.remove(tasks[i]);
						tasks.splice(i,1);
					}
			
			$scope.message = "Zero or more completed tasks are removed..!!";
		};
		$scope.getCompletedCount = function(){
			return tasks.reduce(function(seed,task){
					return task.isCompleted ? seed + 1 : seed;
				},0);	
			
		}
	}
	</script>
</head>
<body data-ng-app>
	<!--
		1. Add a task
		2. Mark/Unmark a task as completed
		3. Remove completed tasks
	 -->
	<h1>Task Manager</h1>
	<hr>
	<div data-ng-controller="taskController">
		<div><span>Total Task # :</span><span>{{tasks.length}}</span></div>
		<div><span>Completed Task # :</span><span>{{getCompletedCount()}}</span></div>
		<label for="txtTaskName">Task :</label>
		<input type="text" name="" id="txtTaskName" data-ng-model="newTaskName">
		<input type="button" value="Add Task" data-ng-click="addTask(newTaskName)">
		<input type="button" value="Remove Completed" data-ng-click="removeCompleted()" data-ng-disabled="getCompletedCount() === 0">
				<ul>
					<li 
						data-ng-repeat="task in tasks track by task.id" 
						data-ng-click="toggleCompletion(task)"
						data-ng-class="{completed : task.isCompleted, inProgress : !task.isCompleted}"
						>{{task.name}} </li>
				</ul>		
		<div>{{message}}</div>
	</div>
</body>
</html>